body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 0 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

#form-todo {
  padding-bottom: 3rem;
  border-bottom: 2px solid whitesmoke;
}

input {
  padding: 1rem;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  box-sizing: border-box;
}

button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid white;
  width: 200px;
  background-color: rgb(100, 29, 167);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

button:active {
  background-color: rgb(54, 17, 88);
}

.finish-todo {
  width: 150px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.done-todo {
  background-color: darkgreen;
  cursor: default;
  width: 150px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.done-todo:active {
  background-color: darkgreen;
}

.delete-todo {
  background-color: darkred;
  width: 150px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#error-message {
  color: red;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 5rem;
}

li {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }
}